"/routie-mobile/.idea/" 
 
/routie-mobile/.idea/ 
# IntelliJ, VSCode 설정 파일 무시
.idea/
.vscode/

# Gradle 관련 파일 무시
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 로그 파일 무시
logs/
*.log

# 환경설정 파일 무시
application.properties
application.yml

# 테스트 빌드 파일 무시
**/src/test/**/out/
**/src/test/**/bin/

# Eclipse 관련 파일 무시
.project
.classpath
.settings/

# OS 관련 파일 무시
.DS_Store
Thumbs.db
