<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_STEP_COUNT_DATA" />
    <uses-permission android:name="com.samsung.android.health.permission.READ_CALORIE_DATA" />

    <!-- 알림 표시 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 정확 알람 예약 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- 재부팅 후 알람 다시 등록 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="루티"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoutieMobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.samsung.android.health.permission.SDK_VERSION"
            android:value="1.5.1" />

        <activity
            android:name="com.gbsb.routiemobile.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 아침 알림 리시버 -->
        <receiver
            android:name=".notification.MorningAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.routie.action.MORNING_REMINDER" />
            </intent-filter>
        </receiver>

        <!-- 저녁 알림 리시버 -->
        <receiver
            android:name=".notification.EveningAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.routie.action.EVENING_REMINDER" />
            </intent-filter>
        </receiver>

        <!-- 부팅 후 다시 알람 걸기 -->
        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>